<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The Australian National Chickpea Ascochyta Blight Workshop 2022 will be held on October 12-14 at 
  the Charles Sturt University Convention Centre (see map below). 
  The workshop is organised by a committee comprised of key members of the pulse pathology research community in Australia, 
  including academic researchers, state government plant pathologists,  scientists and research students 
  (see partner organisations in the Partners section below).</p>
<h4>Important Dates</h4>
<p style="font-size:20px;">Abstract submission deadline: <b>August 21, 2022</b>
<br>Registration deadline: <b>August 31, 2022</b></p>

<p>For additional information, questions and enquiries, please send us an 
  <a href="mailto:i.bar@griffith.edu.au?cc=lars.kamphuis@curtin.edu.au, fredrick.mobegi@curtin.edu.au&subject=Query about ABW2022" target="_blank">email</a> or use the Contact form at the bottom of this page.</p>

<!--
<h4>Expression of Interest</h4>
<p>Please submit your expression of interest using the form below. We will add you to our mailing list to update you on key dates for registration and abstract submission, costs, social events, transportation, accommodation, etc.</p>

<div class="form-container">
  <form name="eoi" data-netlify="true" netlify-honeypot="bot-field">
   <input type="bot-field" name="bot-field" >

      <label for="name">Name</label>
    <br>
      <input type="text" id="name" name="name" placeholder="">
   <br>
      <label for="organisation">Organisation</label>
    <br>
      <input type="text" id="organisation" name="organisation" placeholder="">
    <br>
      <label for="email">Email</label>
    <br>
      <input type="email" id="email" name="email" placeholder="">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
-->