<h2 class="section-title">{{ .titles.abstract }}</h2>

<h4>Submission deadline: August 21, 2022</h4>
<p>Abstract submission is now open for oral presentations (10 or 20 minutes). 
  <b>Please note that this is a face-to-face event and presenters are expected to attend the workshop in person to deliver their presentations at the venue.</b></p>
<p>When preparing your abstract, make sure it includes the following: 
<br><b>Title</b>, <b>Authors</b>, <b>Affiliations</b>, <b>Keywords</b> (up to 5), <b>Contact email of corresponding author</b>, <b>Abstract body</b> (300 words max), <b>Acknowledgement</b> (optional), <b>References</b> (up to 4 in <a href="https://academia.stackexchange.com/a/149415/124383" target="_blank">'tiny' format</a>). 
<br>Please use the provided template as a reference - <a href="/img/Abstract_template_ABW22.docx" download>Download Abstract Template</a> </p>

<p>Submit your abstract using the form below: </p>

<div class="form-container">
  <form name="abstracts" data-netlify="true" netlify-honeypot="bot-field">
   <input type="bot-field" name="bot-field" >

      <label for="name">Name</label>
    <br>
      <input type="text" id="name" name="name" placeholder="" required>
   <br>
      <label for="organisation">Organisation</label>
    <br>
      <input type="text" id="organisation" name="organisation" placeholder="" required>
    <br>
      <label for="email">Email</label>
    <br>
      <input type="email" id="email" name="email" placeholder="" required>
    <br>
       <label for="theme">Which workshop theme your presentation will fit the most?</label>
    <br>
        <select class="dis" name="theme" id="theme" required>
          <option value="host">Understanding 'The Host'</option>
          <option value="pathogen">Understanding 'The Pathogen'</option>
          <option value="management">Disease Management</option>
          <option value="industry">Growers and Industry Updates</option>
          <option value="control">Innovation and Technology for Disease Controls and Diagnostics</option>
        </select> 
    <br>
      <label for="abstract">Upload abstract (in Word format, see instructions above)</label>
    <br>
      <input name="file" type="file" id="abstract" name="abstract" placeholder="Choose file..." required>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
<p>*Disclaimer: The committee reserves the right to accept or reject your abstract and allocate it a time (10 or 20 minutes) in the most appropriate session 
    as it see fit and according to the final workshop program and schedule.</p>



<!--
<h4>Expression of Interest</h4>
<p>Please submit your expression of interest using the form below. We will add you to our mailing list to update you on key dates for registration and abstract submission, costs, social events, transportation, accommodation, etc.</p>

<div class="form-container">
  <form name="eoi" data-netlify="true" netlify-honeypot="bot-field">
   <input type="bot-field" name="bot-field" >

      <label for="name">Name</label>
    <br>
      <input type="text" id="name" name="name" placeholder="">
   <br>
      <label for="organisation">Organisation</label>
    <br>
      <input type="text" id="organisation" name="organisation" placeholder="">
    <br>
      <label for="email">Email</label>
    <br>
      <input type="email" id="email" name="email" placeholder="">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
-->