<h2 class="section-title">{{ .titles.contact }}</h2>

<p>Use the form below to reach out to the organising committee with any questions, enquiries or issues.</p>
<form data-netlify="true" netlify-honeypot="bot-field" id="form" class="form" name="contact">
  <input type="bot-field" name="bot-field" >
  <div class="control-group control-group-name">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Your name">
  </div>
  <div class="control-group control-group-email">
    <label for="email">E-mail</label>
  <input type="email" name="email" id="email" placeholder="Your e-mail">
  </div>
  <div class="control-group">
    <label for="message">Message</label>
  <textarea name="" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
  </div>
  <input class="send-btn" type="submit" value="Send">
</form>
