<h2 class="section-title">{{ .titles.location }}</h2>
<p>The workshop will take place in Wagga Wagga, NSW, which has a lot to offer to visitors with great scenery, attractions and fantastic food and wine (made with locally-grown produce). 
    To find out more about Wagga Wagga and the region, go to <a href="https://visitwagga.com" target="_blank">Visit Wagga</a>, which includes information on how to get there (there are flights from Sydney and Melbourne airports, 
    or consider enjoying the train for a chance to see the country side.)</p>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">{{ .address }}. </span>
    <span itemprop="addressLocality">{{ .city }}</span>,
    <span itemprop="addressRegion"> {{ .state }}</span>
    </p>
    
    <div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>
<p></p>
<h3>Accommodation</h3>
<p>For those booking accommodation here is a guide.
    There is a concentration of good hotels in Wagga Wagga along Tarcutta Street, all within walking distance to the main street and places to eat in the evening.    
<p>We recommend any of the following hotels: 
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Mecure Wagga Wagga - (02) 6939 7200, see <a href="https://mercure.accor.com/gb/australia-new-zealand-fiji/index.shtml" target="_blank">website</a>  for more details
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; The Charles Boutique Hotel - 0408 542 481, see <a href="https://thecharleswagga.com.au/" target="_blank">website</a>  for more details
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Carlyle Suites - (02) 6933 6100, see <a href="https://www.carlylesuites.com.au/accommodation-wagga" target="_blank">website</a> for more details
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; The International Hotel - (02) 6971 7007, see <a href="https://intlhotelwagga.com.au/" target="_blank">website</a> for more details
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; The Townhouse Hotel - (02) 6921 4337, see <a href="https://townhousewagga.com/" target="_blank">website</a> for more details 
<p>Other good hotels at the other end of the main street (northern end of the CBD, both of these are close together and to restaurants):
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Mantra Pavilion Hotel - (02) 6921 6411, see <a href="https://www.mantrapavilionhotel.com.au/" target="_blank">website</a> for more details
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Prince of Wales - (02) 6921 1922, see <a href="https://www.princeofwalesmotel.com.au/" target="_blank">website</a> for more details
<p>A couple of options for the more budget conscious (both close together and within walking distance of the main street): 
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Garden City Motor Inn - 0458 848 989, see <a href="https://www.gardencitymotorinn.com/" target="_blank">website</a> for more details
<br>&nbsp;&nbsp;&nbsp;&#8226;&nbsp; City Park Motel and Apartments - (02) 6921 4301, see <a href="https://www.cityparkmotel.com.au/" target="_blank">website</a> for more details


